<div class="strip">
    <h2>
        Our services
    </h2>
    <div class="strip-content">
        <div class="panel-sm">
            <div class="content-text our-services-content">
                We understand that some clients like to be able to budget their legal expenses. Therefore, we took several of our more popular services and created flat-
            </div>
        </div>
    </div>
</div>