---
import LegalPage from "./LegalPage.astro";
import Panel from "../_common/Panel.astro";
import Panels from "../_common/Panels.astro";
---

<LegalPage title="Terms & Conditions" />

<div class="strip">
    <div class="strip-content">
        <Panels>
            <Panel>
                <h3 slot="label">Terms &amp; Conditions</h3>
                <p class="content-text">
                    This site contains general information about Wegner Law PLLC
                    (“Wegner” or the “Firm”) The materials on this web site have
                    been prepared for information purposes only and are not
                    intended as legal advice. The reader should not consider
                    information on this site to be an invitation for any
                    attorney-client relationship, and our transmission of this
                    information and your receipt of this information are not
                    intended to create and do not constitute an attorney-client
                    relationship. No user of this site should act or refrain
                    from acting on the basis of information included on this
                    site without seeking legal advice of counsel in the relevant
                    jurisdiction.
                </p>
                <p class="content-text">
                    WEGNER expressly disclaims all liability in respect to
                    actions taken or not taken based on any contents of this
                    site. Internet subscribers and online readers should not act
                    upon this information without seeking advice from
                    professional counsel. Any communication with the firm
                    through this site is not secure or confidential and does not
                    create an attorney-client relationship. WEGNER does not
                    maintain and is not responsible for the information,
                    contents, accuracy, completeness, usefulness or adequacy of
                    any resources that can be accessed with hypertext links from
                    wegnerlawfirm.com or any other website related or otherwise
                    affiliated thereto or therewith.
                </p>
                <p class="content-text">
                    The hiring of a lawyer is an important decision that should
                    not be based solely upon advertisements. Before you decide,
                    ask us to send you free written information about our
                    qualifications and experience. Attorney Advertising Notice
                    Prior results do not guarantee a similar outcome.
                </p>

                <p class="content-text">
                    If you have any questions concerning attorney advertising
                    rules, please contact us at:
                </p>

                <p class="content-text">
                    Wegner Law PLLC<br />
                    23160 Fashion Drive<br />
                    Suite 217<br /> Estero, FL 33928
                    <br />
                    Tel: 239-449-9200<br /> email: info@Wegnerlawfirm.com
                </p>
            </Panel>
            <Panel>
                <h3 slot="label">Our Publications</h3>

                <p class="content-text">
                    WEGNER’s publications should not be construed as legal
                    advice on any specific facts or circumstances. Their
                    contents are intended for general information purposes only
                    and may not be quoted or referred to in any other
                    publication or proceeding without the prior written consent
                    of the Firm, to be given or withheld at our discretion. To
                    request reprint permission for any of our publications,
                    please use our “Contact Us” form, which can be found on this
                    site. The mailing of our publications is not intended to
                    create, and receipt of them does not constitute, an
                    attorney-client relationship. The views set forth therein
                    are the personal views of the author and do not necessarily
                    reflect those of the or company with which he or she is
                    associated.
                </p>
            </Panel>
        </Panels>
    </div>
</div>
