<div class="strip">
    <div class="strip-content">
        <div class="panel-sm">
            <h2>
                Wegner Law PLLC
            </h2>
            <div class="intro-text">
                Built for your business.
            </div>

        </div>
        <div class="panel-lg">
            <p class="content-text">
                Based in Southwest Florida, Wegner Law PLLC specializes
                exclusively in business and business-related transactional law.
                With extensive real-world experience, we provide practical,
                effective legal solutions without unnecessary jargon. Our small
                firm offers personalized service and attention, ensuring expert
                guidance tailored to your specific business needs.
            </p>

            <p class="content-text">
                We pride ourselves on being approachable and easy to work with,
                making sure you feel confident and comfortable in our
                partnership. Our clients include startups, small to mid-sized
                businesses, and entrepreneurs who need assistance with company
                formation, contract drafting, and deal negotiation. While we may
                be small, we are fully equipped to handle all your business
                legal needs.
            </p>
        </div>
    </div>
</div>

<style>
    .intro-text{
        font-weight: 700;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;

        @media(min-width: 768px){
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    h2{
        font-size: 1.7rem;
        padding: 0;
        text-align: center;

        @media(min-width: 768px){
            font-size: 1.8rem;
        }
    }

    .strip{
        background-color: #f8f8f8;
        @media(min-width: 768px){
        padding: 2rem 0;
        }
    }

    .panel-lg {
        display: block;

        @media(min-width: 768px){
            padding-right: 2rem;
        }
    }

    .panel-sm{
        display: flex;
        flex-direction: column;
        @media(min-width: 768px){
            justify-content: center;
        }
    }
</style>
