---
import Layout from "../layouts/Layout.astro";

import Hero from '../components/hero/_Hero.astro'
import OurPeople from "../components/ourPeople/_OurPeople.astro";
import OurPractices from "../components/ourPractices/_OurPractices.astro";
import OurClients from "../components/ourClients/_OurClients.astro";
import ContactUs from "../components/contactUs/_ContactUs.astro";
import About from "../components/about/_About.astro";
---

<div id="home"></div>
<Layout
	title="South Florida Business Lawyers | Wegner Law PLLC"
	description="Wegner Law PLLC: Premier South Florida business law firm. Expert counsel for companies, entrepreneurs, and investment funds. Specializing in corporate transactions, fund formation, and commercial contracts. Personalized legal solutions for growing businesses."
>
	<Hero/>
	<div id="about" class="section-divider"></div>
	<About/>
	<div id="attorney" class="section-divider"></div>
	<OurPeople />

	<div id="practices" class="section-divider"></div>
	<OurPractices />


	<div id="idustries" class="section-divider"></div>
	<div id="clients" class="section-divider"></div>
	<OurClients />

	<div id="contact" class="section-divider"></div>
	<ContactUs />
</Layout>

<style>
	.section-divider{
		padding: 50px;
		margin: -50px;
	}
</style>