<div class="footer-address-lane">
    <div class="footer-address-label">
      Main office:
    </div>
    <address class="footer-address">
      <span class="footer-address-line-1">Wegner Law PLLC</span>
      23160 Fashion Drive<br/>
      Suite 217<br/>
      Estero, FL 33928
    </address>
    <div class="footer-address-label">
      Naples office:
    </div>
    <address class="footer-address">
      <span class="footer-address-line-1">Wegner Law PLLC</span>
      875 109th Ave. N.<br/>
      Suite 302<br/>
      Naples, FL 34108
    </address>
    <div class="footer-address-label">
      Mailing address:
    </div>
    <address class="footer-address">
      P.O. Box 1353<br/>
      Estero, FL 33929
    </address>
  
    <div class="footer-contact-line">
      <p class="footer-contact-label">
        Office:
      </p>
      <a class="footer-contact-link">
        (239) 449-9200
      </a>
    </div>
  
    <div class="footer-contact-line">
      <p class="footer-contact-label">
        Fax:
      </p>
      <a class="footer-contact-link">
        (239) 785-3990
      </a>
    </div>
  
    <div class="footer-contact-line">
      <a class="footer-contact-link">
        info@wegnerlawfirm.com
      </a>
    </div>
  </div>
  
  <style>
    .footer-address{
      font-style: normal;
      text-decoration: none;
      color: inherit;
      padding-bottom: 1rem;
    }
  
    .footer-address-label{
      padding-bottom: .25rem;
      color: white;
    }
  
    .footer-address-line-1{
      font-weight: 700;
      display: block;
    }
  
    .footer-contact-line{
      display: flex;
    }
  
    .footer-contact-label{
      min-width: 3rem;
    }
  
    .footer-contact-link{
      text-decoration: none;
      color: white;
    }
  
    .footer-address-lane{
      padding-bottom:2rem;
    }
  
  </style>